@media screen and (max-width: 580px) {
    .body {
                padding: 0;
    }

    .title {
        font-size: 2.3em;
    }

    .main {
        width: 100vw;
        max-width: none;
        min-width: auto;
        padding: 0 0 3em 0;
        border-radius: 0;
    }

    .main .image-header {
        border-radius: 0;
    }

    .main .content {
        padding: 0 2em;
    }
}